<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Esse era para ser o projeto <%= title %>, mas como tenho que estudar para a prova de sever side e também vou ter que fazer
        um <%= title %> como trabalho, n2, de teste de software, então troquei para uma biblioteca.
    </p>
  </body>
</html>