<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <h2 class="texto-formatado">Bem vindo ao <%= title %></h2>
      <p>Um site que era pra ser uma platoforma de e-learning <br></p>
      <p>E virou uma biblioteca</p>
    </div>
    
  </body>
</html>
