<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Bem vindo ao <%= title %></p>
    <p>Um site que era pra ser uma platoforma de e-learning</p>
    <p>E virou uma biblioteca</p>
  </body>
</html>
