<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduStream</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <!-- Incluindo o seu Header -->
    <%- include('../partials/header') %>

    <!-- AQUI É ONDE O CONTEÚDO DAS SUAS PÁGINAS (VIEWS) VAI ENTRAR -->
    <main>
        <%- body %> 
    </main>

    <!-- Incluindo o seu Footer -->
    <%- include('../partials/footer') %>

</body>
</html>